*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI';
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );
}

.container{
    text-align:center;
}

h1{
    color:white;
    margin-bottom:20px;
}

.glass-card{
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.2);
    border-radius:20px;
    padding:20px;
    box-shadow:0 8px 32px rgba(0,0,0,0.3);
}

img{
    width:800px;
    border-radius:15px;
}